body {
  background-color: darkslategray;
}
* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
}

h1 {
  font-size: 90px;
  color: black;
  margin-bottom: 50px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.nav-text {
  font-size: 30px;
}

.sub-nav {
  font-size: 30px;
}

.question {
  text-align: center;
}

.button2 {
  border-radius: 15px;
  border: 1px solid greenyellow;
  margin-bottom: 20px;
  color: greenyellow;
  background-color: black;
  padding: 20px;
  text-decoration: none;
  width: 600px;
  text-align: center;
  font-size: 30px;
}

.option {
  border-radius: 15px;
  border: 1px solid greenyellow;
  color: greenyellow;
  background-color: black;
  padding: 15px;
  text-decoration: none;
  width: 300px;
  text-align: center;
  font-size: 30px;
}

.correct {
  border-radius: 15px;
  border: 1px solid greenyellow;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  background-color: greenyellow;
  padding: 15px;
  text-decoration: none;
  width: 600px;
  text-align: center;
  font-size: 30px;
}

.incorrect {
  border-radius: 15px;
  border: 1px solid red;
  margin-bottom: 20px;
  color: white;
  background-color: red;
  padding: 15px;
  text-decoration: none;
  width: 600px;
  text-align: center;
  font-size: 30px;
}
